# Firebase Configuration (DevNaturalOil Project)
REACT_APP_FIREBASE_API_KEY=AIzaSyDu1bNNTgADxr8KlS45YvfjKa2o4Ed0vRo
REACT_APP_FIREBASE_AUTH_DOMAIN=devnaturaloil.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=devnaturaloil
REACT_APP_FIREBASE_STORAGE_BUCKET=devnaturaloil.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=347875608612
REACT_APP_FIREBASE_APP_ID=1:347875608612:web:36490421c09530557130b1
REACT_APP_FIREBASE_MEASUREMENT_ID=G-1NXLE8T1QE

# Cloudinary Configuration
REACT_APP_CLOUDINARY_CLOUD_NAME=di8mxgexq
REACT_APP_CLOUDINARY_API_KEY=477697518172828
REACT_APP_CLOUDINARY_API_SECRET=uq3YGPfB16T2EcysmgOD8cSkuYA
REACT_APP_CLOUDINARY_UPLOAD_PRESET=topxew62
